.page-header
  %h1 Edit prize
  
= form_for [:admin, deal, prize], :wrapper => :inline do |form|
  
  = render :partial => 'form', :locals => {:f => form }

  .form-actions
    = form.submit 'Update', :class => 'btn btn-primary'