.page-header
  %h1 The Leaderboard
  
%h2 Todays best times
%ol.leaderboard
  - @leaders_today.each do |round|
    %li= render(round.user)

%h2 Olympic records
%ol.leaderboard
  - @leaders.each do |round|
    %li= render(round.user)

%h2 By country
%ol
  - @countries.each do |country|
    %li= country