
%h1 Play to win
%p Join in the fun and compete with geeks, techies and web devs around the world
%p - as you play 3 online games to WIN a [INSERT PRIZE HERE] - 
%p and qualify for DISCOUNTS of up to 90% on SitePoint books and more.

%p= link_to "Play", games_path, :class => 'btn btn-primary btn-large'
%p.see-leaderboard
	See who is at the top of the
	= link_to "Leaderboard", leaderboard_path
