.hero-unit
	%h1 Geek Games
	%p Join the geek olympics and compete to win some stuff.
	%ul
		%li The 10cm Dash
		%li MOUSE-ATHALON
		%li PING-LONG
	%p= link_to "Compete", games_path, :class => 'btn btn-primary btn-large'