<div class="hero-unit">
<h1>Get your Geek on</h1>
<p>Join the geek olympics and compete to win some stuff.</p>
<ul id="games">
  <li>The 10cm Dash</li>
  <li>MOUSE-ATHALON</li>
  <li>PING-LONG</li>
</ul>
<p>
  <%= link_to "PLAY NOW!! LOL", rounds_path, :class => 'btn btn-primary btn-large' %>
</p>
</div>