.hero-unit
	%h1 Get your Geek on
	%p Join the geek olympics and compete to win some stuff.
	%ul#games
		%li The 10cm Dash
		%li MOUSE-ATHALON
		%li PING-LONG
	%p= link_to "PLAY NOW!! LOL", rounds_path, :class => 'btn btn-primary btn-large'