body {
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
small {
	color: #777;
}
#wrapper {
	padding: 60px 0;
}
.flash {
	padding: 20px;
}
.nav img {
	height: 20px;
	margin-right: 5px
}
.avatar {
	float: left;
	height: 36px;
	width: 36px;
	border-radius: 3px;
	overflow: hidden;
	margin-right: 10px;
	img {
		height: 36px;
		width: 36px;
		display: block;
	}
}