body {
	background: #ececec;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
}
small {
	color: #777;
}
#wrapper {
	padding: 60px 0;
	width: 959px;
	margin: 0 auto;
}
.flash {
	padding: 20px;
}
.avatar {
	float: left;
	height: 36px;
	width: 36px;
	border-radius: 3px;
	overflow: hidden;
	margin-right: 10px;
	img {
		height: 36px;
		width: 36px;
		display: block;
	}
}

.drop-down {
  position: relative;
  ul {
    font-size: 13px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    min-width: 160px;
    margin: 1px 0 0;
    padding: 4px 0;
    background: #fff;
    border: 1px solid rgba(#000, .2);
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(#000, .2);
    display: none;
    a {
      clear: both;
      color: #333;
      display: block;
      font-weight: normal;
      line-height: 18px;
      padding: 3px 15px;
      white-space: nowrap;
      &:hover {
        background-color: #0088CC;
        color: #FFFFFF;
        text-decoration: none;
      }
    }
    .divider {
      background-color: #e5e5e5;
      border-bottom: 1px solid #fff;
      height: 1px;
      margin: 8px 1px;
      overflow: hidden;
    }
  }
  &.open {
    ul { display: block }
  }
}