
@import "bootstrap";
@import "bootstrap-datepicker";

body {
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
small {
	color: #777;
}
#wrapper {
	padding: 60px 0;
}
.flash {
	padding: 10px;
	border-radius: 5px;
}
.nav img {
	height: 20px;
	width: auto;
	margin-right: 5px
}

table img {
	height: 36px;
	width: auto;
	float: left;
	margin-right: 10px;
}
input {
  vertical-align: top;
}