form {
  padding: 30px 0;
  text-align: left;
  overflow: hidden;
  width: 100%;
  label {
    font-size: 16px;
    display: block;
    padding-bottom: 5px;
  }
  .button-area {
    clear: both;
  }
  input[type=text], select, input[type=submit] {
    width: 200px;
  }
  input[type=text], select, input[type=email], input[type=password] {
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 10px;
  }
  input[type=text], input[type=email], input[type=password] {
    background: #fff;
    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.4) inset);
    border-radius: 2px;
    border: 1px solid #fff;
    padding: 7px 11px;
    width: 180px;
    color: #333;
  }
  input[type=submit] {
    font-size: 16px;
    padding: 5px 15px;
  }
  label.checkbox {
    padding: 10px 0 0;
    width: 100%;
    clear: both;
    font-size: 12px;
  }
}
.links {
  text-align: center;
  font-size: 15px;
}
