$icons-twitter-spacing: 35;
$icons-facebook-spacing: 35;
$icons-email-spacing: 35;
$icons-auth_twitter-spacing: 50;
$icons-auth_facebook-spacing: 50;

$icons-main_prize-spacing: 50;
$icons-kindle-spacing: 50;

@import "icons/*.png";
.facebook_home, .twitter_home {
  text-indent: -9999px;
}
#menu {
  .home a, .game1 a, .game2 a, .game3 a, .win a {
    text-indent: -9999px;
  }
  .home a {
    @include icons-sprite(home, true);
  }
  .game1 a {
    @include icons-sprite(game1, true);
  }
  .game2 a {
    @include icons-sprite(game2, true);
  }
  .game3 a {
    @include icons-sprite(game3, true);
  }
  .win a {
    @include icons-sprite(win, true);
  }
}
.twitter a {
  @include icons-sprite(twitter, false, 85px, 10px);
}
.facebook a {
  @include icons-sprite(facebook, false, 59px, 10px);
}
.email a {
  @include icons-sprite(email, false, 90px, 10px);
}

.auth_twitter {
  @include icons-sprite(auth_twitter, false, 60px, 0);
}
.auth_facebook {
  @include icons-sprite(auth_facebook, false, 19px, 0);
}

.twitter_home {
  position: absolute;
  top: 27px;
  right: 0;
  margin: 0;
  @include icons-sprite(twitter_home, true);
}
.facebook_home {
  position: absolute;
  top: 35px;
  right: 65px;
  margin: 0;
  @include icons-sprite(facebook_home, true);
}

#header {
  @include icons-sprite(dude, false, 95px, 9px);
}

#leaderboard {
  li {
    @include icons-sprite(kindle, false, 74px, 15px);
    &.pos-1 {
      @include icons-sprite(main_prize, false, 58px, 13px);
    }
  }
}