<span id="new-relic">GeekGames is proudly sponsored by <a href="http://newrelic.com/geekgames?utm_source=SITE&utm_medium=banner_ad&utm_content=geekgames&utm_campaign=RPM&utm_term=mainsponsor&mpc=BA-SITE-RPM-en-100-geekgames-mainsponsor" target="_blank"><%= image_tag "new-relic-logo.png" %></a></span>
