.page-header
  %h1 Edit deal
  
= form_for [:admin, deal], :wrapper => :inline do |form|
  
  = render :partial => 'form', :locals => {:f => form, :deal => deal }

  .form-actions
    = form.submit 'Update', :class => 'btn btn-primary'